{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
	{% if failed %}
	Registration Failed! Please Try Again.
	{% endif %}
    <form action="/register/" method="post">
    	{% csrf_token %}
    	<input type="text" name="username" placeholder="Username"><br>
    	<input type="password" name="password" placeholder="Password"><br>
    	<input type="password" name="confirmpw" placeholder="Confirm Password"><br>
    	<input type="text" name="organization" placeholder="Organization"><br>
    	<input type="submit" value="Submit">
    </form>
{% endblock %}
